@media screen and (max-width: 640px) {
    .last td:last-child {
      border-bottom: solid 1px #ccc;
      width: 100%;
    }
    .tbl-r02 {
      width: 80%;
    }
    .tbl-r02 th,
    .tbl-r02 td {
  　　border-bottom: none;
      display: block;
      width: 100%;
    }
  }


  